/* Regular CSS */

p.footer-p {
  color: #999;
  line-height: 25px;
  text-align: justify;
}

h2, h3 {
  color: #fff;
}

h2 {
  font-size: 18px;
}

.footer-top {
  background: #111;
  padding: 80px 0;
}

#name-footer {
  color: #fff;
  letter-spacing: 1px;
  margin: 0px 0;
}

.segment-two h2 {
  color: #fff;
  text-transform: uppercase;
}

.segment-two h2:before {
  content: '|';
  color: #c65039;
  padding-right: 10px;
}

.segment-two ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.segment-two ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  line-height: 40px;
}

.segment-two ul li a {
  color: #999;
  text-decoration: none;
}

.segment-three h2 {
  color: #fff;
  text-transform: uppercase;
}

.segment-three h2:before {
  content: '|';
  color: #c65039;
  padding-right: 10px;
}

.social-icon-bg {
  background: #494848;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 5px;
  border-radius: 50%;
}

.segment-three a i {
  font-size: 22px;
  color: #999;
  padding: 10px 12px;
}

#yt-icon {
  padding: 9.5px 9px;
}

#tw-icon {
  padding: 9.5px 10px;
}

#git-icon {
  padding: 9px 10.5px;
}

#in-icon {
  padding: 9px 11.5px;
}

#ig-icon {
  padding: 10px 10.5px;
}

.segment-four h2 {
  color: #fff;
  text-transform: uppercase;
}

.segment-four h2:before {
  content: '|';
  color: #c65039;
  padding-right: 10px;
}

.segment-four ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.segment-four ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  line-height: 40px;
}

.segment-four ul li {
  color: #999;
  text-decoration: none;
}

.segment-four ul li i {
  padding-right: 5px;
}

.footer-bottom-text {
  text-align: center;
  background: #000;
  line-height: 75px;
}

.footer-bottom-text a {
  color: #999;
  text-decoration: none;
}

#name-footer-bot {
  color: #999;
}

/* Responsive CSS */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .md-mb-30 {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 1199px) {
  #ig-bg {
    margin-top: 8px;
  }
}

@media only screen and (max-width: 273px) {
  #ig-bg {
    margin-top: 8px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 991px) {
  #yt-bg {
    margin-top: 8px;
  }
}

@media only screen and (max-width: 223px) {
  #yt-bg {
    margin-top: 8px;
  }
}

@media only screen and (max-width: 767px) {
  .sm-mb-30 {
    margin-bottom: 30px;
  }
  .footer-top {
    padding: 50px 0;
  }
}
